.MainLayout {
    height: 100%;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
}

.MainLayoutMain {
    background-color: #fff;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.MainLayout-Content {
    flex-grow: 1;
}

.MainLayout-Footer {
    flex-shrink: 0;
}