.Header {
    font-family: 'Roboto', sans-serif;
    background-color: rgba(38, 49, 129, 0.15);;
    align-items: center;
    display: flex;
    justify-content: space-between;
    min-height: 70px;
}
.Header-Logo, .Header-Nav, .Header-Links {
    flex-grow: 1;
}

.Header-Nav {
    
    width: 600px;
    color: #fff;
}  

.Header-List {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
}

.Header-ListItem {
    margin-right: 9px;
    padding-left: 3px;
}

.Header-Logo,  .Header-Links {
    width: 200px;
}

